*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F9FAFB;
    font-size: 12px;
}

.logo-principal{
    height: 100px;
    margin-left: 30px;
    margin-top: 12px;
}

#desktop-menu{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.5px rgb(231, 231, 231) solid;
    font-size: 1.2rem;
}

.a-menu-desktop{
    text-decoration: none;
    padding-right: 30px;
}

.li-menu-desktop{
    list-style: none;
    
}

.ul-menu-desktop{
    margin-right: 50px;
}

.titulo-principal{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}