*{
    margin: 0px;
    padding: 0px;
}


/*IMPORTANDO FONTES PADRÕES*/
@font-face {
    font-family: titulo-principal;
    src: url(../assets/fonts/rawline-800.ttf);
}

@font-face {
    font-family: secondary;
    src: url(../assets/fonts/rawline-500.ttf);
}

/*ESTILOS PADRÕES*/

h1{
    font-family: titulo-principal;
    color: rgb(46, 46, 46);
}

p{
    font-family: secondary;
    font-size: 1rem;
}



body{
    background-color: #F9FAFB;
    font-size: 12px;
}

.logo-principal{
    height: 100px;
    margin-left: 30px;
    margin-top: 12px;
}

#desktop-menu{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.5px rgb(231, 231, 231) solid;
}

.a-menu-desktop{
    text-decoration: none;
    padding-right: 30px;
    font-family: secondary;
    color: rgb(44, 44, 44);
    font-size: 1rem;
}

.li-menu-desktop{
    list-style: none;
    
}

.ul-menu-desktop{
    margin-right: 50px;
}

#container-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    margin-top: 15px;
}

#box-1{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 8px;
    margin-left: 20px;
    box-shadow: 0px 0px 1px 1px rgba(211, 211, 211, 0.2);
}

#box-2{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 20px;
     margin-left: 20px;
    box-shadow: 1px 1px 3px 3px rgba(211, 211, 211, 0.2);
}