*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F9FAFB;
}

.logo-principal{
    height: 100px;
    margin-left: 30px;
    margin-top: 12px;
}

#desktop-menu{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.5px rgb(231, 231, 231) solid;
}

.ul-menu-desktop{
    margin-right: 50px;
}